/.github/
/.idea/
/.git/
/.vscode/
/api/
/docs/
/img/
/local-dev/

.dockerignore
.gitignore
.golangci.yml
.spectral.yml
.tbls.yml
dbconfig.yml
docker-compose.yaml
Dockerfile
LICENSE
README.md
sqlboiler.toml

.DS_Store
