*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  background-color: #FFFFFF; /* ui-primary */
}

#root {
  position: fixed;
  inset: 0;
}

pre, code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #005BAC; /* text-link */
  text-decoration: none;
  overflow-wrap: anywhere;
}

svg {
  fill: currentColor;
}

/* Scrollbar */
* {
  scrollbar-color: #E2E5E9 #F0F2F5; /* ui-tertiary ui-secondary */
  scrollbar-width: thin;
  transition: scrollbar-color 0.3s;
}
*:hover, *:active {
  scrollbar-color: #CED6DB #F0F2F5; /* ui-border ui-secondary */
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-corner {
  visibility: hidden;
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: #E2E5E9; /* ui-tertiary */
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #CED6DB; /* ui-border */
}
*::-webkit-scrollbar-track {
  background-color: #F0F2F5; /* ui-secondary */
}
