apiVersion: apps/v1
kind: Deployment
metadata:
  name: adminer

spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: adminer

  template:
    metadata:
      labels:
        app: adminer
    spec:
      containers:
        - name: adminer
          image: dockette/adminer:full
          imagePullPolicy: Always
          env:
            - name: ADMINER_DEFAULT_SERVER
              value: mariadb
            - name: ADMINER_DESIGN
              value: nette
          ports:
            - name: http
              containerPort: 80
