name: Proto gen

on:
  push:
    branches:
      - 'main'
    paths:
      - 'api/**'
  pull_request:
    paths:
      - 'api/**'

jobs:
  protoc:
    name: Check protoc diff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - uses: arduino/setup-protoc@v2
        with:
          version: "24.4"
      - name: Install proto tools
        run: make init-protoc-tools
      - name: Generate code
        run: make protoc
        env:
          GO_REPO_ROOT_PACKAGE: github.com/traPtitech/neoshowcase
      - name: Check diff
        run: git diff --exit-code
