name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  mod:
    name: Modules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - run: go mod download
  protoc:
    name: Proto
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - uses: arduino/setup-protoc@v1
        with:
          version: '3.9.1'
      - name: Load cache of generated codes
        uses: actions/cache@v3
        id: go-proto-cache
        with:
          path: ./pkg/interface/grpc/pb
          key: ${{ runner.os }}-proto-${{ hashFiles('**/*.proto') }}
      - name: Install proto tools
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install github.com/bufbuild/connect-go/cmd/protoc-gen-connect-go@latest
          yarn global add @bufbuild/protoc-gen-connect-es @bufbuild/protoc-gen-es
      - name: Generate code
        if: steps.go-proto-cache.outputs.cache-hit != 'true'
        run: make protoc
        env:
          GO_REPO_ROOT_PACKAGE: github.com/traPtitech/neoshowcase
  build:
    name: Build Components
    runs-on: ubuntu-latest
    needs: [ mod, protoc ]
    strategy:
      matrix:
        component:
          - ns
          - ns-builder
          - ns-mc
          - ns-migrate
          - ns-ssgen
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - name: Use generated codes
        uses: actions/cache@v3
        with:
          path: ./pkg/interface/grpc/pb
          key: ${{ runner.os }}-proto-${{ hashFiles('**/*.proto') }}
      - run: go build ./cmd/${{ matrix.component }}
  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [ mod, protoc ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - name: Install reviewdog
        run: curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh | sh -s -- -b $(go env GOPATH)/bin
      - name: Install golangci-lint
        run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin
      - name: Use generated codes
        uses: actions/cache@v3
        with:
          path: ./pkg/interface/grpc/pb
          key: ${{ runner.os }}-proto-${{ hashFiles('**/*.proto') }}
      - name: Run golangci-lint
        run: golangci-lint run --out-format=line-number | reviewdog -f=golangci-lint -name=golangci-lint -reporter=github-check
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [ mod, protoc ]
    env:
      ENABLE_DB_TESTS: "true"
      ENABLE_DOCKER_TESTS: "true"
      DOCKER_API_VERSION: "1.41"
    services:
      mysql:
        image: mysql:8
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=3s --health-retries=10
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: neoshowcase
        ports:
          - 5004:3306
      mongo:
        image: mongo
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: password
        ports:
          - 5010:27017
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - name: Use generated codes
        uses: actions/cache@v3
        with:
          path: ./pkg/interface/grpc/pb
          key: ${{ runner.os }}-proto-${{ hashFiles('**/*.proto') }}
      - name: Run ns-migrate up
        run: go run ./cmd/ns-migrate up -P 5004
      - name: Run tests
        run: go test ./... -v -race -coverprofile=coverage.out -covermode=atomic -vet=off
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
  k8s-test:
    name: Test (k8s)
    runs-on: ubuntu-latest
    needs: [ mod, protoc ]
    env:
      ENABLE_K8S_TESTS: "true"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - name: Use generated codes
        uses: actions/cache@v3
        with:
          path: ./pkg/interface/grpc/pb
          key: ${{ runner.os }}-proto-${{ hashFiles('**/*.proto') }}
      - name: Create single cluster
        uses: AbsaOSS/k3d-action@v2
        id: single-cluster
        with:
          cluster-name: "test-cluster"
          args: >-
            --agents 1
            --no-lb
            --k3s-arg "--disable=traefik,servicelb,metrics-server@server:0"
      - name: Show cluster info
        run: |
          echo ${{ steps.single-cluster.outputs.network }} ${{ steps.single-cluster.outputs.subnet-CIDR }}
          echo
          kubectl cluster-info --context k3d-test-cluster
      - name: Show nodes
        # hack, wait until agents are ready...
        run: |
          docker ps -a
          sleep 10
          kubectl config use-context k3d-test-cluster
          kubectl get nodes -o wide
          kubectl create ns neoshowcase-apps
      - name: Install CRDs
        run: |
          kubectl apply -f https://raw.githubusercontent.com/traefik/traefik/8174860770e536b4afb541e0ab13b3611a101430/docs/content/reference/dynamic-configuration/kubernetes-crd-definition-v1.yml
      - name: Run tests
        run: go test ./pkg/infrastructure/backend/k8simpl -v -coverprofile=coverage.out -covermode=atomic -vet=off
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
  tbls:
    name: TBLS
    runs-on: ubuntu-latest
    env:
      TBLS_VERSION: v1.62.1
    services:
      mysql:
        image: mariadb:10.8.3
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: neoshowcase
        ports:
          - 5004:3306
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - name: Run ns-migrate up
        run: go run ./cmd/ns-migrate up -P 5004
      - name: Lint
        run: |
          source <(curl https://raw.githubusercontent.com/k1LoW/tbls/main/use)
          tbls lint
        env:
          TBLS_DSN: "mariadb://root:password@127.0.0.1:5004/neoshowcase"
  spectral:
    name: Spectral
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Spectral checks
        uses: stoplightio/spectral-action@v0.8.10
        with:
          file_glob: api/http/swagger.yaml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
