name: Publish (main)

on:
  push:
    branches:
      - main

jobs:
  build-base-image:
    name: Build Base Image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component:
          - ns-builder
          - ns-controller
          - ns-gateway
          - ns-gitea-integration
          - ns-migrate
          - ns-ssgen
    steps:
      - uses: actions/checkout@v4
      - run: echo "APP_VERSION=main-SNAPSHOT" >> $GITHUB_ENV
      - run: echo "APP_REVISION=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        id: buildx
      - name: Builder instance name
        run: echo ${{ steps.buildx.outputs.name }}
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: traptitech
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          target: ns
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            APP_VERSION=${{ env.APP_VERSION }}
            APP_REVISION=${{ env.APP_REVISION }}
          tags: ghcr.io/traptitech/ns:main
          cache-from: type=registry,ref=ghcr.io/traptitech/ns:buildcache
          cache-to: type=registry,ref=ghcr.io/traptitech/ns:buildcache,mode=max

  build-component-images:
    name: Build Component Images
    runs-on: ubuntu-latest
    needs:
      - build-base-image
    strategy:
      matrix:
        component:
          - ns-builder
          - ns-controller
          - ns-gateway
          - ns-gitea-integration
          - ns-migrate
          - ns-ssgen
    steps:
      - uses: actions/checkout@v4
      - run: echo "APP_VERSION=main-SNAPSHOT" >> $GITHUB_ENV
      - run: echo "APP_REVISION=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        id: buildx
      - name: Builder instance name
        run: echo ${{ steps.buildx.outputs.name }}
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: traptitech
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          target: ${{ matrix.component }}
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            APP_VERSION=${{ env.APP_VERSION }}
            APP_REVISION=${{ env.APP_REVISION }}
          tags: ghcr.io/traptitech/${{ matrix.component }}:main
          cache-from: type=registry,ref=ghcr.io/traptitech/ns:buildcache

  build-dashboard-image:
    name: Build Dashboard Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        id: buildx
      - name: Builder instance name
        run: echo ${{ steps.buildx.outputs.name }}
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: traptitech
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: dashboard
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/traptitech/ns-dashboard:main
          cache-from: type=registry,ref=ghcr.io/traptitech/ns-dashboard:buildcache
          cache-to: type=registry,ref=ghcr.io/traptitech/ns-dashboard:buildcache,mode=max
